{% extends "common.html" %} {% block title%} Home {% endblock %} {% block main
%}
<div class="container-fluid">
  <h2
    class="text-center text-uppercase font-weight-bold text-primary display-3"
  >
    Drowsiness Detection
  </h2>
  <hr />
  <div class="row">
    <div class="form-group col-md-12">
      <div class="row d-flex justify-content-center">
        <img
          class="col-md-5 rounded-20"
          src="https://media.istockphoto.com/id/1322240188/vector/young-man-sleeping-while-driving-car-in-flat-design-on-white-background-tired-and-fatigued.jpg?s=612x612&w=0&k=20&c=9WWzR4FzA9ldXkU33n4QDRj573yKgA8dIW2oK3Wk2IE="
        />
        <div
          class="text col-md-5 d-flex flex-column justify-content-center align-items-center"
        >
          <p>
            <strong> Driver drowsiness detection</strong> is a car safety
            technology which helps prevent accidents caused by the driver
            getting drowsy. Various studies have suggested that around 20% of
            all road accidents are fatigue-related, up to 50% on certain roads.
            Some of the current systems learn driver patterns and can detect
            when a driver is becoming drowsy.
          </p>

          <p>
            You can find the complete code on
            <a
              href="https://github.com/azouaoui-med/pro-sidebar-template"
              target="_blank"
            >
              Github</a
            >, it contains more themes and background image option
          </p>
        </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <div class="alert alert-success">
        <h2>Drowsy Driving Statistics</h2>
      </div>
      <div class="row col-md-12">
        <img
          class="img-fluid rounded"
          src="https://cdn.thezebra.com/zfront/media/production/images/Which_of_these_are_most_effective_at_keeping_.width-1320.png"
          alt=""
        />
        <ul>
          <li>
            100,000 police-reported crashes and over 1,500 deaths are the
            results of drowsy driving each year. (NHTSA)
          </li>
          <li>
            More than 40% of drivers admitted they have fallen asleep behind the
            wheel. (AAA)
          </li>
          <li>
            The cost of drowsy-driving crashes at about 13% of the total $836
            billion in societal costs of traffic crashes. (NHTSA)
          </li>
          <li>
            An estimated 1,550 deaths, 71,000 injuries, and $12.5 billion in
            monetary losses are due to drowsy drivers. (NHTSA)
          </li>
          <li>
            In 2017, 50,000 people were injured in drowsy driving accidents and
            795 of those were killed because of drowsy driving. (NHTSA)
          </li>
          <li>
            800 fatalities occurred in 2015 as a result of drivers feeling
            fatigued behind the wheel. (FHWA)
          </li>
          <li>
            From 2009 to 2013, 72,000 police-reported motor vehicle accidents
            involving drowsy drivers. (NHTSA)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h5>More templates</h5>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card rounded-0 p-0 shadow-sm">
        <img
          src="https://www.thewindscreenco.co.uk/wp-content/uploads/2020/03/06-Drowsiness-Detection-1000x477.png"
          class="card-img-top rounded-0"
          alt="Angular pro sidebar"
        />
        <div class="card-body text-center">
          <h6 class="card-title">Angular Pro Sidebar</h6>
          <a
            href="https://github.com/azouaoui-med/angular-pro-sidebar"
            target="_blank"
            class="btn btn-primary btn-sm"
            >Github</a
          >
          <a
            href="https://azouaoui-med.github.io/angular-pro-sidebar/demo/"
            target="_blank"
            class="btn btn-success btn-sm"
            >Preview</a
          >
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="card rounded-0 p-0 shadow-sm">
        <img
          src="https://i.ytimg.com/vi/5QECtDjr_f4/maxresdefault.jpg"
          class="card-img-top rounded-0"
          alt="Angular pro sidebar"
        />
        <div class="card-body text-center">
          <h6 class="card-title">Angular Dashboard</h6>
          <a
            href="https://github.com/azouaoui-med/lightning-admin-angular"
            target="_blank"
            class="btn btn-primary btn-sm"
            >Github</a
          >
          <a
            href="https://azouaoui-med.github.io/lightning-admin-angular/demo/"
            target="_blank"
            class="btn btn-success btn-sm"
            >Preview</a
          >
        </div>
      </div>
    </div>
  </div>
  <hr />

  <footer class="text-center">
    <div class="mb-2">
      <small>
        © 2020 made with
        <i class="fa fa-heart" style="color: red"></i> by -
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://azouaoui.netlify.com"
        >
          Mohamed Azouaoui
        </a>
      </small>
    </div>
    <div>
      <a href="https://github.com/azouaoui-med" target="_blank">
        <img
          alt="GitHub followers"
          src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social"
        />
      </a>
      <a href="https://twitter.com/azouaoui_med" target="_blank">
        <img
          alt="Twitter Follow"
          src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social"
        />
      </a>
    </div>
  </footer>
</div>
{% endblock %}
