{% extends "common.html" %} {% block title%} Detection {% endblock %} {% block
main %}
<div class="notification">
  <div class="alert alert-success">
    <h1 class="text-center">Notification</h1>
  </div>

<!--<div class="text">{{results}}</div>-->

<!--  table -->
  <table class="table table-striped text18">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Time</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for row in results %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
   </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
