{% extends "statistics.html" %}


{% block div %}
 <div class="form-group col-md-12">
      <div class="row col-md-12">
        <img
          class="img-fluid rounded"
          src="https://cdn.thezebra.com/zfront/media/production/images/Which_of_these_are_most_effective_at_keeping_.width-1320.png"
          alt=""
        />
          <ul class="list-group">
  <li class="list-group-item">100,000 police-reported crashes and over 1,500 deaths are the
            results of drowsy driving each year. (NHTSA)</li>
  <li class="list-group-item">More than 40% of drivers admitted they have fallen asleep behind the
            wheel. (AAA)</li>
  <li class="list-group-item">The cost of drowsy-driving crashes at about 13% of the total $836
            billion in societal costs of traffic crashes. (NHTSA)</li>
  <li class="list-group-item">An estimated 1,550 deaths, 71,000 injuries, and $12.5 billion in
            monetary losses are due to drowsy drivers. (NHTSA)</li>
  <li class="list-group-item">In 2017, 50,000 people were injured in drowsy driving accidents and
            795 of those were killed because of drowsy driving. (NHTSA)</li>
              <li class="list-group-item">800 fatalities occurred in 2015 as a result of drivers feeling
            fatigued behind the wheel. (FHWA)</li>
              <li class="list-group-item">From 2009 to 2013, 72,000 police-reported motor vehicle accidents
            involving drowsy drivers. (NHTSA)</li>
</ul>
      </div>
    </div>
{% endblock %}